@import "tailwindcss";

:root {
  --background: black;
  /* --foreground: #171717; */
}

/* html {
  background-color: #0a0a0a;
}

section {
  margin-top: -1px;
  padding-top: 1px;
} */

/* Tailwind theme variables */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-inter);
  --font-heading: var(--font-playfair);
  --font-mono: var(--font-geist-mono);

  --font-elegant: var(--font-italiana);

  --font-ui: var(--font-geist);

  --font-libertinus: var(--font-libertinus);
}

body {
  background: var(--background);
  color: var(--foreground);
  /* font-family: var(--font-mono); */
  font-family: var(--font-libertinus);
}

.templateContainer {
  @apply max-w-[1400px] mx-auto px-4  md:px-12 lg:px-20;
}
